/* Importa duas fontes do Google Fonts: Krona One e Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/* Define estilos para todos os elementos, zerando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
}

.titulovideos {
    font-size: 36px;

    /* Define a família de fontes como 'Krona One' com fallback para sans-serif */
    font-family: 'Papyrus', 'sans-serif';
    /* Alinha o texto justificado */
    text-align: center;

    /* Adicione uma margem inferior para separar dos itens */
    margin-bottom: 20px; /* Você pode ajustar esse valor conforme necessário */
    color: #800000;
}

/* Estilos para o elemento <body> */
body {
    margin: 0;
    background-color: #000000; /* Fundo preto */
    background-image: linear-gradient(45deg, #ff0000, #000000 30%, #000000 70%, #ff0000); /* Gradiente vermelho e preto */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif; /* Fonte básica, mas você pode escolher outra se preferir */
    color: #ffffff; /* Texto branco para contraste */
}

/* Espaçamento entre o cabeçalho (header) e o conteúdo principal (main) */
.cabecalho {
    padding: 2% 0% 0% 33%;
    margin-bottom: 120px; /* Adicione margem na parte inferior do cabeçalho */
}

/* Estilos para o menu do cabeçalho */
.cabecalho-menu {
    display: flex;
    gap: 100px;
}

.cabecalho-menu-links{
    font-family: 'Papyrus', 'sans-serif';
    font-size: 24px;
    font-weight: 800;
    align-items: center;
    color: #800000;
    text-decoration: none;
    text-shadow: 1px 1px 0 #51ff00, -1px -1px 0 #ffffff, 1px -1px 0 #fff, -1px 1px 0 #23fa07;
}

/* Estilização da seção da galeria */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px; /* Espaçamento entre os itens */
}

/* Estilização do título da galeria */
.titulogaleria {
    /* Define o tamanho da fonte como 36px */
    font-size: 36px;

    /* Define a família de fontes como 'Krona One' com fallback para sans-serif */
    font-family: 'Papyrus';

    /* Alinha o texto justificado */
    text-align: center;

    /* Adicione uma margem inferior para separar dos itens */
    margin-bottom: 20px; /* Você pode ajustar esse valor conforme necessário */
}



/* Estilização de cada item da galeria */
.item {
    flex: 0 0 calc(33.33% - 20px); /* Define a largura dos itens, com margens entre eles */
    background-color: linear-gradient(to bottom, #1d2b53, #7e2553, #ff5555); /* Cor de fundo dos itens */
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave nos itens */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os itens */

    /* Centraliza os elementos verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilização das imagens dentro dos itens */
.itemimg {
    max-width: 100%;
    max-height: 200px; /* Defina a altura máxima desejada */
    width: auto;
    height: auto;
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorção */
    border: 2px solid #000; /* Adicione uma borda de 2px sólida preta */
    transition: transform 0.2s ease-in-out; /* Efeito de transição suave ao passar o mouse */
}

/* Efeito de escala ao passar o mouse */
.itemimg:hover {
    transform: scale(1.05); /* Aumenta a escala da imagem em 5% ao passar o mouse */
}

/* Estilização dos títulos das imagens */
.itemh2 {
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
    margin-top: 10px; /* Espaço entre a imagem e o título */
    text-align: center; /* Centraliza o texto */
    color: #ff0000; /* Cor da fonte preta */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os itens */
}




/* Espaçamento entre o conteúdo principal (main) e o rodapé (footer) */
.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #800000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Papyrus', 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

/* Estilo de link no rodapé */
.rodape a:hover {
    color: #FFA500;
}

